<%= form_for(@benchmark_run) do |f| %>
  <% if @benchmark_run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@benchmark_run.errors.count, "error") %> prohibited this benchmark_run from being saved:</h2>

      <ul>
      <% @benchmark_run.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :benchmark_set_id %><br />
    <%= f.number_field :benchmark_set_id %>
  </div>
  <div class="field">
    <%= f.label :act_month %><br />
    <%= f.number_field :act_month %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
