<%= form_for(@benchmark_set) do |f| %>
    <% if @benchmark_set.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@benchmark_set.errors.count, "error") %> prohibited this benchmark_set from being
            saved:</h2>

          <ul>
            <% @benchmark_set.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :bm_id %>
      <br/>
      <%= f.text_field :bm_id %>
    </div>
    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :percentile %>
      <br/>
      <%= f.number_field :percentile %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
